#table-component {
    padding: 2rem 5px;

    .ant-table-pagination {
        display: none !important;
    }
    
    .ant-table-column-title {
        font-size: 16px;
        color: #662770;
    }
}
