<div class="hello">    
    <a-form :layout="formLayout">
      <div style="width: 100%;">
        <a-form-item
          label="Tamanho"
          :label-col="formItemLayout.labelCol"
          :wrapper-col="formItemLayout.wrapperCol"
        >

            <a-radio-group  @change="onChangeSize" v-decorator="['radio-group']" :value="getSizeSelected">
                <a-radio :style="radioStyle" :value="item" v-for="item in getSize" :key="item.id">
                  {{item.label}} <strong>{{formatValue(item.value)}}</strong>
                </a-radio>
            </a-radio-group>
          
        </a-form-item>

        <a-form-item
          label="Sabor"
          :label-col="formItemLayout.labelCol"
          :wrapper-col="formItemLayout.wrapperCol"
        >
          
          <a-radio-group @change="onChangeFlavor" v-decorator="['radio-group']" :value="getFlavorSelected">
            <a-radio :style="radioStyle" :value="item" v-for="item in getFlavor" :key="item.id" :disabled="!(getSizeSelected && getSizeSelected.id)">
              {{item.label}}
            </a-radio>
          </a-radio-group>

        </a-form-item>

        <a-form-item
        class="container-checkbox"
        label="Personalização">

          <a-checkbox @change="onChangeCustomization" :checked="checkedCustomSelected(item)" :value="item" v-for="(item, index) in getCustomization" :key="item.id" :disabled="!(getFlavorSelected && getFlavorSelected.id)">
            {{item.label}} <strong>{{item.value ? `Adicional de ${formatValue(item.value)}` : ''}}</strong>
          </a-checkbox>

        </a-form-item>
      </div>
        <div class="container-values">
          <a-form-item
            label="Tempo de espera (em minutos)"
        >
            <a-input :value="getTime"  disabled="disabled"/>
        </a-form-item>
        
        <a-form-item
            label="Valor total"
            style="padding: 0 5rem 0 0;"
        >
            <a-input :value="getTotal" disabled="disabled"/>
        </a-form-item>
        </div>

        <a-form-item :wrapper-col="buttonItemLayout.wrapperCol" style="width: 50%; text-align: center; padding: 2rem 0 0 !important;" v-if="(getSizeSelected.id && getFlavorSelected.id)">
          <a-button type="primary" @click="onClickAddOrder">
            Adicionar pedido
          </a-button>
        </a-form-item>

    </a-form>
      
  <Table :cols="columns" :dataSource="getDataList" :onHandlerEdit="handlerEdit" />

  <div>
    <a-form :layout="formLayout" style="padding: 0;">
      <div class="container-finish">
        <a-form-item
            label="Tempo total de espera do pedido (em minutos)"
            style="padding: 0px 0rem 0 5rem;"
        >
            <a-input :value="fullTime"  disabled="disabled"/>
        </a-form-item>
        <a-form-item
          label="Valor total do pedido"
          style="padding: 0px 0rem 0 2rem;"
        >
            <a-input :value="fullTotal"  disabled="disabled"/>
        </a-form-item>
      </div>
      <a-form-item :wrapper-col="buttonItemLayout.wrapperCol" style="width: 50%; text-align: center;">
        <a-button type="primary" @click="onClickFinished" v-if="(getDataList && getDataList.length > 0)">
          Finalizar pedido
        </a-button>
      </a-form-item>
    </a-form>
  </div>
</div>