form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0 0 0;

    .container-checkbox {
        padding: 0;
        display: flex ;
        justify-content: center;        
    }

    .container-values {
        display: flex; 
        padding: 1rem 0 0 0;
    }
}

.container-finish {
    display: flex; 
    padding: 0 5rem 3rem 1rem;
}

.ant-form-item {
    text-align: start;
}

label, .ant-form-item-label {
    font-weight: 600;
}

.ant-form-item-children {
    input {
        color: black;
        font-weight: 600;
        font-size: 16px;
    }
}

.ant-form-item {
    padding: 0px 5rem 1rem 1rem;
    margin-right: 0 !important;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0;
}

@media only screen and (max-width: 576px) {

    form {

        .container-checkbox {
            padding: 0 0 0 5rem !important;
            display: inline-block !important;
        }

        .container-values {
            display: grid;
            padding: 0 4rem 0 4rem;
        }
    }

    .container-finish {
        display: grid; 
        padding: 0 4rem 3rem 4rem;
    }
}

@media only screen and (max-width: 495px) {

    form {
        .container-checkbox{
          padding: 0 0 0 22px !important;
          display: inline-block !important;
        }
    
        .container-values {
          padding: 0 4rem 0 3rem;
        }
    
    }

    .container-finish {
        padding: 0 4rem 3rem 3rem;
    }
}